@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

figure{
	break-inside: avoid;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figcaption{
	font-size: .75em;
	font-style: italic;
	margin: 1em;
}

figure.full-page{
	break-after: page;
	break-before: page;
	break-inside: avoid;
	margin: 0;
	max-height: 100vh;
	text-align: center;
}

@supports(display: flex){
	figure.full-page{
		display: flex;
		flex-direction: column;
	}

	figure.full-page img{
		height: 100vh;
		object-fit: contain;
	}
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

dl{
	margin: 1em 0;
}

dd{
	margin-left: 40px;
}

dd + dt{
	margin-top: 1em;
}

table{
	border-collapse: collapse;
	font-variant-numeric: tabular-nums;
	margin: 1em;
}

th,
td{
	padding: .5em;
}

tbody th{
	border-bottom: none;
	font-weight: normal;
	vertical-align: top;
}

#chapter-2-1 table tbody td:nth-of-type(1),
#chapter-2-1 table tbody td:nth-of-type(3),
#chapter-2-1 table tbody td:nth-of-type(4),
#chapter-2-1 table tbody td:nth-of-type(7),
#chapter-2-1 table tbody td:nth-of-type(8),
#chapter-2-1 table tbody td:nth-of-type(9),
#chapter-2-1 table tbody td:nth-of-type(12),
#chapter-2-1 table tbody td:nth-of-type(13),
#chapter-2-1 table tbody td:nth-of-type(14),
#chapter-2-11 table td:first-child,
#chapter-2-11 table tr:nth-child(4) td:last-child{
	text-align: right;
}

#chapter-2-1 table tbody td:nth-of-type(5),
#chapter-2-1 table tbody td:nth-of-type(6),
#chapter-2-1 table tbody td:nth-of-type(10),
#chapter-2-1 table tbody td:nth-of-type(11),
#chapter-2-1 table tbody td:nth-of-type(13),
#chapter-2-1 table tbody td:nth-of-type(15),
#chapter-2-1 table tbody td:nth-of-type(16){
	text-align: center;
}

#chapter-2-1 table thead th:nth-of-type(8),
#chapter-2-1 table thead th:nth-of-type(13),
#chapter-2-1 table tbody td:nth-of-type(7),
#chapter-2-1 table tbody td:nth-of-type(12){
	border-left: 4px double;
}

th,
#chapter-2-11 table tr:nth-child(2) td + td,
#chapter-2-11 table tr:nth-child(4) td + td{
	border-bottom: 1px solid;
}

.separator{
	padding-left: 1em;
}
