@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

figure{
	break-inside: avoid;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figcaption{
	font-size: .75em;
	font-style: italic;
	margin: 1em;
}

figcaption p + p{
	text-indent: 0;
}

figure.full-page{
	break-after: page;
	break-before: page;
	break-inside: avoid;
	margin: 0;
	max-height: 100vh;
	text-align: center;
}

@supports(display: flex){
	figure.full-page{
		display: flex;
		flex-direction: column;
	}

	figure.full-page img{
		height: 100vh;
		object-fit: contain;
	}
}

table{
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-collapse: collapse;
	margin: 1em;
}

th,
td{
	border-right: 1px solid black;
	font-variant-numeric: tabular-nums;
	padding: .5em;
	vertical-align: baseline;
}

table,
th{
	border-bottom: 1px solid black;
}

[scope="rowgroup"]{
	border-bottom: none;
	border-top: none;
	font-weight: normal;
}

#chapter-2-8 table,
td,
th{
	border: none;
	margin: 1em;
}

#chapter-2-11 table{
	border: none;
	margin: 1em;
}

#chapter-2-11 td{
	border: none;
	padding-left: 1em;
}

.double-border{
	border-left: 4px double black;
}

#chapter-2-11 .bottom-border{
	border-bottom: 1px solid black;
}

.end-col{
	border-right: none;
}

.center-align{
	text-align: center;
}

.right-align{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

dd + dt{
	margin-top: 1em;
}
